<template name="HomeLayout">
        <header>
            <h1>My Recipe Book</h1>
            {{> loginButtons}}
        </header>
        <main>
            <div class="billboard">
                <h2>Organise your meals</h2>
            </div>
        </main>
</template>